
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-md-3">
        <h2>Select Year</h2>
        <div class="list-group">
            <a href="YearSummary/@DateTime.Now.Year.ToString()" class="list-group-item">@DateTime.Now.Year.ToString()</a>
            <a href="YearSummary/@DateTime.Now.AddYears(-1).Year.ToString()" class="list-group-item">@DateTime.Now.AddYears(-1).Year.ToString()</a>
            <a href="YearSummary/@DateTime.Now.AddYears(-2).Year.ToString()" class="list-group-item">@DateTime.Now.AddYears(-2).Year.ToString()</a>
            <a href="YearSummary/@DateTime.Now.AddYears(-3).Year.ToString()" class="list-group-item">@DateTime.Now.AddYears(-3).Year.ToString()</a>
            <a href="YearSummary/@DateTime.Now.AddYears(-4).Year.ToString()" class="list-group-item">@DateTime.Now.AddYears(-4).Year.ToString()</a>
            <a href="YearSummary/@DateTime.Now.AddYears(-5).Year.ToString()" class="list-group-item">@DateTime.Now.AddYears(-5).Year.ToString()</a>
        </div>
    </div>
</div>